<div class="wrapper">
    <div class="search">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Buscar curso">
    </div>
    <div class="container">
        <div class="container-cards">
            <img src="icons(cursos)/excel-icon.svg" alt="">
            <div class="info">
                <h2>Microsoft Excel</h2>
                <p>inicia: 15/10/2026</p>
            </div>
            <button>Inscribirse</button>
        </div>

        <div class="container-cards">
            <img src="icons(cursos)/microsoft-365.svg" alt="">
            <div class="info">
                <h2>Microsoft 365</h2>
                <p>inicia: 15/10/2026</p>
            </div>
            <button>Inscribirse</button>
        </div>

        <div class="container-cards">
            <img src="icons(cursos)/ai-copilot.svg" alt="">
            <div class="info">
                <h2>Buen uso de la IA</h2>
                <p>inicia: 15/10/2026</p>
            </div>
            <button>Inscribirse</button>
        </div>

        <div class="container-cards">
            <img src="icons(cursos)/windows11.svg" alt="">
            <div class="info">
                <h2>Uso del sistema operativo</h2>
                <p>inicia: 15/10/2026</p>
            </div>
            <button>Inscribirse</button>
        </div>
        <div class="container-cards">
            <img src="icons(cursos)/security.svg" alt="">
            <div class="info">
                <h2>Cyberseguridad</h2>
                <p>inicia: 15/10/2026</p>
            </div>
            <button>Inscribirse</button>
        </div>
        <div class="container-cards">
            <img src="icons(cursos)/canva.svg" alt="">
            <div class="info">
                <h2>Uso de Canva</h2>
                <p>inicia: 15/10/2026</p>
            </div>
            <button>Inscribirse</button>
        </div>
        <div class="container-cards">
            <img src="icons(cursos)/onedrive.svg" alt="">
            <div class="info">
                <h2>Almacenamiento en la nube</h2>
                <p>inicia: 15/10/2026</p>
            </div>
            <button>Inscribirse</button>
        </div>
        <div class="container-cards">
            <img src="icons(cursos)/informatic-tools.svg" alt="">
            <div class="info">
                <h2>Herramientas informaticas orientadas a negocios</h2>
                <p>inicia: 15/10/2026</p>
            </div>
            <button>Inscribirse</button>
        </div>
    </div>
</div>
